            @font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, div, h1, p{margin: 0;}
body{ position: relative; background: black;
	}
h1, p{ color: white;
		font-family: 'MapoGoldenPier';}
p{line-height: 1.9em; word-break: keep-all; font-size: 1.2em;}


#moniter{width: 80px; height: 30px; background: black; color: white; position: fixed; top: 0; right: 0;}

#titlee{
	width: 1200px;
	height: 620px;
	position: absolute;
	left: calc(50% - 600px);
	top: 0px;
	background: black;
}

#titlee h1{
	width: 300px;
	height: 100px;
	position: absolute;
	left: calc(50% - 150px);
	top: calc(50% - 50px);
	text-align: center;
	font-size: 3em;
}

.warp{
	width: 1200px; height: 4620px; position: absolute;
	top: 610px;
	left: calc(50% - 600px);
	background: url(back0.gif);
	overflow: hidden;
}

@media (max-width: 980px){
	.warp{
		left: calc(50% - 490px);
	}
	#titlee{
		left: calc(50% - 490px);
	}
}

/*이미지 css*/

#yek{
	position: absolute;
	width: 90px;
	height: auto;
	left: 20px;
	bottom: 1000px;
	animation: yee 4s linear infinite; opacity: 1;
}

#yek2{
	position: absolute;
	width: 90px;
	height: auto;
	left: 150px;
	bottom: 1100px;
	animation: yee 4.3s 1s linear infinite; opacity: 1;
}

#yek3{
	position: absolute;
	width: 90px;
	height: auto;
	left: 320px;
	bottom: 1000px;
	animation: yee 3.9s linear infinite; opacity: 1;
}

#yek4{
	position: absolute;
	width: 90px;
	height: auto;
	right: 320px;
	bottom: 1000px;
	animation: yee 4.2s 1.2s linear infinite; opacity: 1;
}

#yek5{
	position: absolute;
	width: 90px;
	height: auto;
	right: 150px;
	bottom: 1100px;
	animation: yee 3.8s 1s linear infinite; opacity: 1;
}

#yek6{
	position: absolute;
	width: 90px;
	height: auto;
	right: 20px;
	bottom: 1000px;
	animation: yee 4.5s  linear infinite; opacity: 1;
}

@keyframes yee { 
				to {position: absolute; transform: translateY(1000px);}
				from{position: absolute;}
			}

#pep1_1{
	position: absolute;
	top: 440px;
	left: 65px;
	animation: pep 1s infinite linear alternate;
}


@keyframes pep { 
				to {position: absolute; transform: rotate(5deg);}
				from{position: absolute; transform: rotate(-10deg);}
			}

#pep1_2{
	position: absolute;
	top: 440px;
	right: 65px;
	animation: pepone 1s infinite linear alternate;
}

@keyframes pepone { 
				to {position: absolute; transform: rotate(-5deg);}
				from{position: absolute; transform: rotate(10deg);}
			}

#talk{
	position: absolute;
	top: 110px;
	left: 220px;
	animation: ta 0.3s infinite linear alternate, ta- 0.2s infinite linear alternate, bigger 0.3s linear;
}

@keyframes ta { 
				to {position: absolute; left: 215px;}
				from{position: absolute; left: 225px;}
			}

@keyframes ta- { 
				to { position: absolute; }
				from {transform: translateY(-7%); position: absolute;}
			}

#pep2_2{
	position: absolute;
	top: 750px;
	left: 175px;
	animation: peptw 0.5s infinite linear alternate;
}


#pep2_22{
	position: absolute;
	top: 750px;
	left: calc(50% - 89px);
	animation: peptw 0.4s infinite linear alternate;
}

#pep2_23{
	position: absolute;
	top: 750px;
	right: 175px;
	animation: peptw 0.3s infinite linear alternate;
}


@keyframes peptw { 
				to {position: absolute; top: 760px;}
				from{position: absolute; top: 723px;}
			}

#pep2_1{
	position: absolute;
	top: 810px;
	left: 0px;
	animation: peptwo 0.45s infinite linear alternate;
}

#pep2_12{
	position: absolute;
	top: 810px;
	left: 345px;
	animation: peptwo 0.5s infinite linear alternate;
}

#pep2_13{
	position: absolute;
	top: 810px;
	right: 0px;
	animation: peptwo 0.43s infinite linear alternate;
}

#pep2_14{
	position: absolute;
	top: 810px;
	right: 345px;
	animation: peptwo 0.35s infinite linear alternate;
}

@keyframes peptwo { 
				to {position: absolute; top: 850px;}
				from{position: absolute; top: 800px;}
			}

#grass{
	position: absolute;
	top: 950px;
	left: calc(50% - 600px);

}


#mountain{
	position: absolute;
	bottom: 1210px;
	left: calc(50% - 600px);
	animation: mou 1s infinite linear alternate;
}

@keyframes mou { 
				to {position: absolute; transform: translateY(30px); }
			}

#back3{
	position: absolute;
	top: 1730px;
	left: calc(50% - 600px);
}

#sky{
	position: absolute;
	top: 1110px;
	left: calc(50% - 600px);
}

#mask{
	position: absolute;
	top: 1140px;
	left: -400px;
	transition: all 2s;
}

#mask_2{
	position: absolute;
	top: 1620px;
	right: -350px;
	transition: all 1.6s;
}

#mask_3{
	position: absolute;
	top: 2035px;
	left: -300px;
	transition: all 1.1s;
}

#head{
	position: absolute;
	top: 2340px;
	left: calc(50% - 245.4px);
}


#cloud2{
	position: absolute;
	top: 1560px;
	left: 240px;
	animation: clo 1s infinite linear alternate;
}

@keyframes clo { 
				to {position: absolute; transform: scale(1.05); }
				from{position: absolute;}
			}

#cloud3{
	position: absolute;
	top: 2225px;
	left: -35px;
	animation: cloth 1.2s infinite linear alternate;
}
@keyframes cloth { 
				to {position: absolute; transform: scale(1.07);}
				from{position: absolute;}
			}

#cloud4{
	position: absolute;
	top: 2300px;
	left: 49px;
	animation: cloo 1s infinite linear alternate;
}

@keyframes cloo { 
				to {position: absolute; transform: scale(1.05); left: 58px;}
				from{position: absolute;}
			}


#cloud1_1{
	position: absolute;
	top: 40px;
	left: 10px;
	animation: clof 1.3s infinite linear alternate;
}

@keyframes clof { 
				to {position: absolute; transform: translateX(30px); }
				from{position: absolute;}
			}

#cloud1_2{
	position: absolute;
	top: 210px;
	right: 10px;
	animation: clot 1.3s infinite linear alternate;
}

@keyframes clot { 
				to {position: absolute; transform: translateX(-30px); }
				from{position: absolute;}
			}

#cloud1_3{
	position: absolute;
	width: 450px;
	height: auto;
	top: 610px;
	right: -100px;
	animation: clot 1s infinite linear alternate;
}
#cloud1_4{
	position: absolute;
	width: 450px;
	height: auto;
	top: 610px;
	left: -100px;
	animation: clof 1s infinite linear alternate;
}
#cloud1_5{
	position: absolute;
	width: 450px;
	height: auto;
	top: 1130px;
	right: 25px;
	animation: clot 1.1s infinite linear alternate;
}

#cloud1_6{
	position: absolute;
	top: 1300px;
	left: 200px;
	animation: clof 1.3s infinite linear alternate;
}


#cloud1_7{
	position: absolute;
	width: 450px;
	height: auto;
	top: 1860px;
	left: 25px;
	animation: clof 1.3s infinite linear alternate;
}

#cloud1_8{
	position: absolute;
	width: 450px;
	height: auto;
	top: 2540px;
	right: 95px;
	animation: clot 1.3s infinite linear alternate;
}

#cloud1_9{
	position: absolute;
	width: 450px;
	height: auto;
	top: 2620px;
	left:  115px;
	animation: clof 1.3s infinite ease-in alternate;
}

#water{
	position: absolute;
	bottom: 790px;
	left: calc(50% - 600px);
}

#mask2{
	position: absolute;
	bottom: 740px;
	left: calc(50% - 150.5px);
	animation: maska 0.2s infinite  linear alternate;
}

@keyframes maska { 
				to {position: absolute; transform: translateX(5px); }
				from {position: absolute; transform: translateX(-5px); }
			}

#way{
	position: absolute;
	bottom: 0px;
	left: calc(50% - 600px);
}

#mask3{
	position: absolute;
	bottom: -10px;
	left: calc(50% - 453.5px);
	animation: maskth 0.1s infinite ease-in alternate;
}

@keyframes maskth { 
				to {position: absolute; transform: translateY(20px); }
			}
#person1{
	position: absolute;
	bottom: 170px;
	left: 60px;
	cursor:pointer;
	transition: opacity 1s;
	animation: click 1s infinite linear alternate;
	display: block;
	opacity: 100%;
}

#person1:hover{
	transform: scale(1.07);
}


#person2{
	position: absolute;
	bottom: 170px;
	right: 60px;
	cursor:pointer;
	transition: opacity 1s;
	animation: click 1s infinite linear alternate;
	opacity: 0%;
}

#person2:hover{
	transform: scale(1.07);
}

@keyframes click { 
				to {filter: brightness(100%); position: absolute; z-index: 0;}
				from {filter: brightness(30%); position: absolute; z-index: 0;}
			}

#smoke{
	position: absolute;
	bottom: 220px;
	right: -20px;
	transition: opacity 3s 0.2s;
	opacity: 0%;
}

@keyframes smo { 
				to {right: -400px; position: absolute; z-index: 0;}
			}

/*텍스트 css*/

.spanclass{
	background: black;
	padding: 2px;
}

.maintext{
	width: 600px; height: 300px;
	left: calc(50% - 300px);
	top: 50px;
	position: absolute;
	text-align: center;
}

#text1{
	top: 270px;
}

#text2{
	top: 1450px;
	left: 600px;
}

#text3{
	top: 2550px;
}

#text4{
	top: 3400px;

}

#text5{
	top: 4250px;
}